/******************TAG SELECTORS******************/

body {
  background-color: #E7F6F2;
}

h1 {
  color: #395B64;
}

h2 {
  color: #395B64;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #A5C9CA;
  border-width: 5px;
  width: 5%;
}

/******************CLASS SELECTORS******************/

.profilePicture {
  height: 200px;
}

/*******************ID SELECTORS*******************/
